# Configuración básica
WALLET_ADDRESS="0xTuDirecciónBSC"
PRIVATE_KEY="TuClavePrivada"

# Configuración avanzada (opcional)
TELEGRAM_API_KEY=""
TELEGRAM_CHAT_ID=""
RPC_URL="https://bsc-dataseed.binance.org/"